
<div class="marco">
    <input type="search" class="buscador" id="search_bar" placeholder="Busca un libro...(nº de ref)" (keyup)="buscaLibro(busca_id_book.value)" #busca_id_book>
</div>

    <div class="contenedor">

        <ng-container *ngFor="let libro of libros; let even = even">
    
             <app-card [libro]="libro" [even]="even" (bookTitle) = "borrarLibro($event)"></app-card>

        </ng-container>

    </div>

 
    
    <!-- <ng-template #noHay>
        <div class="contenedor">
            <h2 class="text-danger">
                No hay libros
            </h2>
        </div>
    </ng-template> -->