*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
:root{
    --primarycolor: black;
    --secundarycolor: white;
    --font-family-system: var(--font-family-system);
}

.principal{
    background-image: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)),
    url(../../../assets/img/imagen1.jpg);
    width: 100%;
    height: 100vh;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display:flex;
    justify-content:center;
    align-items:center;
}